#login-well{
  background-color: #959595;
  color: #000;
  border-color: #0C0C0C;
}

#login-form{
  margin-top: 100px;
}

#login-button{
  width: 300px;
  display: inline-block;
  display: block;
  margin: 0 auto;
}
#login-text{
  width: 300px;
  display: inline-block;
  display: block;
  margin: 0 auto;
}
