.login {
  color: #FFF;
  text-align: center;
}

.login-form {
  margin-top: 10px;
}

.login-submit {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.login-name {
  width: 300px;
  display: block;
  margin: 0 auto;
}
